<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-md bg-info mb-3" >
        <a class="navbar-brand" href="#">
            <p class="pl-2 d-inline styleAndColor"">LE DOMAINE</p>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{{ path('character_index') }}">Personnages <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{{ path('role_index') }}">Roles</a>
                </li>
            </ul>
        </div>
        <a href="{{ path('character_new') }}"><button class="btn btn-dark">Ajouter un nouveau personnage</button></a>
    </nav>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    <footer class="mt-5 p-3 text-center bg-dark text-light">
        Made with <i style="color: red;" class="fa fa-heart"></i> by Yoan Duong </a>
    </footer>
    {{ encore_entry_link_tags('app') }}
    {% block javascripts %}{% endblock %}
    </body>
</html>
